services:
  localstack:
    container_name: "${LOCALSTACK_DOCKER_NAME:-localstack-main}"
    image: localstack/localstack:1.0.4
    ports:
      - "127.0.0.1:4566:4566"             
      - "127.0.0.1:4510-4559:4510-4559"   
    environment:
      - SERVICES=lambda,dynamodb,apigateway, iam
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION=${AWS_REGION}
      - DEBUG=${DEBUG:-0}
    volumes:
      - "./localstack:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"